/.pip-download-cache
/htmlcov
/env
/log
/temp
/tspr/target
/activate
/tags
/.coverage.*
/.coverage
/config/active.cfg
/config/local.cfg
/config/dev.cfg
settv_apidocs/_build
testdata/text_labels
wplr_text_results
/.sass-cache*
*.pyc
.DS_Store
nohup.out
.idea/*
.ropeproject
*.py~
*.swo
*.swp
/guide/assets
/node_modules
/npm-debug.log
/_SpecRunner.html
.sass-cache/
/.grunt
._.DS_Store
.reviewboardrc
.noseids
*.class
*.xlsx
*.xls